.sidebar {
  background: linear-gradient(to bottom, #2a3f54, #1c2834);
  color: #ffffff;
  padding: 30px;
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  margin-bottom: 20px;
  padding: 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f1c40f;
}

.sidebar ul li a.active {
  font-weight: bold;
  color: #f1c40f;
}

.sidebar li svg {
  margin-right: 10px;
  font-size: 1.8em;
}

.snapcheck-title {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  transition: color 0.3s;
}

.snapcheck-title:hover {
  color: #f1c40f;
}

/* 콘텐츠 스타일 추가 */
.content {
  margin-left: 220px; /* 사이드바 폭만큼 왼쪽 여백 추가 */
  padding: 20px; /* 콘텐츠 패딩 추가 */
}

/* 미디어 쿼리로 작은 화면에서 스타일 조정 */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .sidebar h2 {
    font-size: 1.8em;
  }

  .sidebar ul li {
    margin-bottom: 5px;
  }

  .sidebar ul li a {
    padding: 8px 10px;
  }

  .content {
    margin-left: 0; /* 작은 화면에서는 여백 제거 */
  }
}
